@charset "utf-8";
/*定义项目的所有变量*/
/*定义项目所有的混入函数*/
/*rem适配方案的维护*/
@media (min-width: 320px) {
  html {
    font-size: 42.66666667px;
  }
}
@media (min-width: 360px) {
  html {
    font-size: 48px;
  }
}
@media (min-width: 375px) {
  html {
    font-size: 50px;
  }
}
@media (min-width: 384px) {
  html {
    font-size: 51.2px;
  }
}
@media (min-width: 411px) {
  html {
    font-size: 54.8px;
  }
}
@media (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}
@media (min-width: 480px) {
  html {
    font-size: 64px;
  }
}
@media (min-width: 512px) {
  html {
    font-size: 68.26666667px;
  }
}
@media (min-width: 540px) {
  html {
    font-size: 72px;
  }
}
@media (min-width: 600px) {
  html {
    font-size: 80px;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 85.33333333px;
  }
}
@media (min-width: 720px) {
  html {
    font-size: 96px;
  }
}
@media (min-width: 750px) {
  html {
    font-size: 100px;
  }
}
/*重置样式和公用样式*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-size: 14px;
  color: #333;
  font-family: "Microsoft YaHei", sans-serif;
}
a {
  text-decoration: none;
  color: #333;
}
ul {
  list-style: none;
}
input[type="text"],
input[type="password"],
input[type="search"],
textarea {
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
}
.f_left {
  float: left;
}
.f_right {
  float: right;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  visibility: hidden;
  line-height: 0;
  height: 0;
  clear: both;
}
.ml10 {
  margin-left: 10px;
}
.mr10 {
  margin-right: 10px;
}
.mt10 {
  margin-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
/*苏宁版心*/
.sn_container {
  width: 100%;
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
}
.sn_topBar {
  width: 100%;
  height: 0.9rem;
  background: #fa0;
  position: fixed;
  left: 0;
  top: 0;
  line-height: 0.9rem;
}
.sn_topBar .sn_topBar_left {
  display: block;
  width: 0.9rem;
  height: 0.9rem;
  background: url(../images/icon_category.png) no-repeat center / 0.44rem 0.7rem;
  position: absolute;
  left: 0;
  top: 0;
}
.sn_topBar .sn_topBar_right {
  display: block;
  width: 0.9rem;
  height: 0.9rem;
  background: url(../images/icon_cart.png) no-repeat center / 0.63rem 0.68rem;
  position: absolute;
  right: 0;
  top: 0;
}
.sn_topBar .sn_topBar_search {
  width: 100%;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  position: relative;
}
.sn_topBar .sn_topBar_search span {
  position: absolute;
  left: 1rem;
  top: 0.3rem;
  width: 0.3rem;
  height: 0.3rem;
  background: url(../images/icon_search.png) no-repeat center / 0.24rem 0.25rem;
}
.sn_topBar .sn_topBar_search input {
  height: 0.6rem;
  width: 100%;
  font-size: 0.3rem;
  border-radius: 6px;
  padding-left: 0.5rem;
}
.sn_banner {
  overflow: hidden;
  padding-top: 0.9rem;
  position: relative;
}
.sn_banner ul:first-child {
  transform: translateX(-10%);
  width: 1000%;
}
.sn_banner ul:first-child li {
  width: 10%;
  float: left;
}
.sn_banner ul:first-child li a {
  display: block;
  width: 100%;
}
.sn_banner ul:first-child li a img {
  display: block;
  width: 100%;
}
.sn_banner ul:last-child {
  width: 1.92rem;
  position: absolute;
  bottom: 0.2rem;
  right: 0.2rem;
}
.sn_banner ul:last-child li {
  width: 0.12rem;
  height: 0.12rem;
  margin-right: 0.12rem;
  float: left;
  background: #fff;
  border-radius: 50%;
}
.sn_banner ul:last-child li.now {
  background: yellow;
}
.sn_nav {
  padding: 10px 0;
}
.sn_nav ul li {
  float: left;
  width: 20%;
}
.sn_nav ul li a img {
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0 auto;
}
.sn_nav ul li a p {
  text-align: center;
  font-size: 0.2rem;
}
.sn_footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1rem;
  border-top: 0.01rem solid #cdcdcd;
  padding-top: 10px;
}
.sn_footer ul li {
  float: left;
  width: 20%;
  text-align: center;
}
.sn_footer ul li span {
  font-size: 0.4rem;
}
.sn_footer ul li p {
  font-size: 0.2rem;
}
