@charset "utf-8";
/*定义项目的所有变量*/
.sn_footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1rem;
  border-top: 0.01rem solid #cdcdcd;
  padding-top: 10px;
}
.sn_footer ul li {
  float: left;
  width: 20%;
  text-align: center;
}
.sn_footer ul li span {
  font-size: 0.4rem;
}
.sn_footer ul li p {
  font-size: 0.2rem;
}
