* {
	margin: 0px;
	padding: 0px;
}
ul {
	list-style: none;
}
a {
	color: #050505;
	font-size: 12px;
	text-decoration: none;
}
header {
	height: 92px;
	background-color: #323a45;
	border-bottom: 3px solid #1a7fb7;
}
.header-in {
	height: 92px;
	width: 1000px;
	margin: 0 auto;
}
.header-in img {
	margin-top: 26px;
	float: left;
}
.header-nav {
	float: right;
}
.header-nav ul li {
	float: left;
}
.header-nav ul li a {
	height: 92px;
	line-height: 92px;
	display: inline-block;
	padding: 0 27px;
	font-size: 18px;
	color: #d8d9da;
}
.header-nav ul li a:hover {
	background-color: #30a3e3;
}
.banner {
	height: 470px;
	background: url(../images/banner.jpg) no-repeat;
	border-bottom: 3px solid #1a7fb7;
	position: relative;
}
.activity {
	height: 453px;

}
.banner-title {
	color: #fff;
	font-size: 24px;
	position: absolute;
	bottom: 20px;
	left: 50%;
    transform: translateX(-50%);
}
.activity-in {
	width: 1000px;
	margin: 0 auto;
}
.activity {
	background-color: #30a3e3;
	border-bottom: 3px solid #1a7fb7;
	text-align: center;
}
.activity-in h1{
	line-height: 190px;
	font-size: 48px;
	color: #fff;
}
.activity-in p {
	font-size: 24px;
	color: #fff;
}
.activity-in a {
	display: block;
	width: 235px;
	height: 60px;
	line-height: 60px;
	background: rgba(0,0,0,.3);
	font-size: 26px;
	text-align: center;
	margin: 0 auto;
	margin-top: 80px;
	color: #fff;
}
.main {
	height: 432px;
	background-color: #fff;
}
.main-in {
	width: 1000px;
	margin: 0 auto;
	padding-top: 45px;
}
.main-in li {
	width: 310px;
	border: 1px solid #fafafa;
	float: left;
	overflow: hidden;
}
.main-in li h4 {
	text-align: center;
	line-height: 45px;
	color: #69b6e8;
	font-size: 20px;
	border-bottom: 1px solid #fafafa;
}
.main-in li p {
	padding: 10px 10px;
	font-size: 18px;
	color: #a4a4a4;
}
.main li a {
	display: block;
	width: 90px;
	height: 34px;
	color: #fff;
	font-size: 14px;
	text-align: center;
	line-height: 34px;
	background-color: #1a7fb7;
	margin: 0 auto;
}
.main li:nth-child(2) {
	margin: 0 30px;
}
.feature {
    height: 425px;
    background-color: #e9f7fe;
    overflow: hidden;
    position: relative;
    padding-top: 50px;
}
.feature-in {
    width: 1000px;
    height: 345px;
    margin: 0 auto;
    margin-top: 48px;
}
.feature-in li {
	width: 310px;
	float: left;
}
.feature-in h4 {
	line-height: 60px;
	color: #b3b9bd;
	text-align: center;
	font-size: 24px;
	font-weight: normal;
}
.feature-in p {
	font-size: 18px;
	color: #b3b9bd;
}
.feature-in li:nth-child(2) {
	margin: 0px 30px;
}
footer {
	height: 310px;
	background-color: #323a45;
}
.footer-in {
	width: 1000px;
	margin: 0 auto;
}
.footer-in dl{
    float: left;
    color: #c2c2c2;
    margin-right: 70px;
}
.footer-in dl dt {
	font: 18px/85px "微软雅黑";
}
.footer-in dl dd {
	font: 16px/30px "微软雅黑";
	padding-left: 30px;
	position: relative;
}
.sina:before ,.kongjian:before ,.qq:before {
	position:absolute; 
    left: 10px;
    top: 50%;
    margin-top: -7px;
	content: " ";
	width: 16px;
	height: 15px;
	background: url(../images/footIcon.png) no-repeat;
}
.sina::before {
	background-position: 0 -71px;
}
.kongjian::before {
	background-position: 0 -34px;
}
.qq::before{
	background-position: 0 0px;
}
.foot {
	height: 60px;
	background-color: #146897;
	text-align: center;
	color: #fff;
	font-size: 14px;
	overflow: hidden;
	position: relative;
}
.foot::before {
	content: " ";
	position: absolute;
	right: 500px;
	bottom: 10px;
	width: 95px;
	height: 35px;
	background: url(../images/mfw-footer-sprite5.png) no-repeat 0 -28px;
}
.foot p {
	margin-top: 8px;
}

.san {
	width: 0px;
	height: 0px;
	border: 15px solid #000;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -15px;
	border-color: #fff #e9f7fe #e9f7fe #e9f7fe;
}
.line {
	height: 2px;
	width: 100%;
	background-color: #d8dfe2 ;
	position: absolute;
	top: 50px;
}
.title {
	width: 200px;
	background-color: #e9f7fe ;
	position: absolute;
	top: 30px;
	left: 50%;
	margin-left: -100px;
	text-align: center;
	color: #999;
}



