<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        a {
            display: inline-block;
            height: 50px;
            width: 100px;
            background: skyblue;
            line-height: 50px;
            text-align: center;
            color: #000;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <a href="">欢迎**</a>        
    <a href="logout">注销</a>
    <a href="/register">注册</a>
    <a href="/login">登录</a>

</body>
</html>